mat-slider {
  width: 100%;
  bottom: 8px;
}

.control-box {
  height: 60px;
  align-items: center;
  display: grid;
  grid-template-columns: 125px 125px 1fr;
  grid-template-rows: 1fr 1fr;
}

.control-left {
  line-height: 60px;
  height: 60px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.control-slider {
  grid-column-start: 2;
  grid-column-end: 5;
  height: 30px;
}

.control-time {
  height: 30px;
}

.control-music-info {
  line-height: 40px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
