mat-slider {
  width: 100%;
}

.control-box {
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.control-info {
  flex-grow: 3;
}

.control-time {
  top: 0;
  position: absolute;
  display: inline-flex;
  align-items: center;
  margin-left: 7px;
}

.control-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.control-slider {
  top: 16px;
  position: relative;
}
