<ng-container>
  <mat-toolbar color="primary" class="index-header" style="height: 60px">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input matInput [formControl]="musicSearchFormControl">
      </mat-form-field>
    </form>
    <button mat-icon-button (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="index-container">
    <mat-sidenav #sidenav mode="over" class="index-sidenav" fixedInViewport="true">
      Sidenav
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-selection-list [multiple]="false"
                          (selectionChange)="doOnClick($event.option.value)">
        <mat-list-option *ngFor="let item of list;let i=index" [value]="item.musicId"
                         [selected]="item.musicId===nowPlayingMusicId">
          <div class="music-list-item">
            <div class="music-list-item-index">{{i + 1}}</div>
            <div>
              <div class="music-list-item-name">{{item.name}}</div>
              <div class="music-list-item-singer">{{item.singer}}</div>
            </div>
          </div>
          <div>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <mat-paginator [length]="originalResponse.totalElements"
                     [pageSize]="originalResponse.size"
                     [pageIndex]="originalResponse.number"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="index-footer">
    <app-control [nowPlaying]="isPlay"
                 [nowTime]="musicTimeChangeEvent.nowTime"
                 [totalTime]="musicTimeChangeEvent.totalTime"
                 (timeChange)="onTimeChange($event)"
                 (playStatusChange)="onPlayStatusChange($event)"
                 (playModeChange)="onPlayModeChange($event)"></app-control>
  </div>
</ng-container>
